{% set seoTitle = seo.seoTitle %}
{% set seoDescription = seo.seoDescription %}
{% set asset = seo.seoImage.one() %}
{% set seoImage = craft.imager.transformImage(asset, { width: 1200, height: 630, dpr: 1, position: asset.getFocalPoint() }) %}
{% set staticAssetsVersion = craft.app.config.general.staticAssetsVersion %}

<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
    {% include "_includes/global/head" %}
	{% endblock %}  
  {% if extraHead is defined %}
      {{ extraHead }}
  {% endif %}
</head>
<body>


{% if cart is not defined %}
    {% set cart = craft.commerce.carts.cart %}
{% endif %}


{% if cart.errors|length %}
    <div class="bg-red text-white">
        <div class="container mx-auto px-6 py-4">
            {% for attribute, errors in cart.errors %}
                {% if loop.first %}<ul>{% endif %}
                {% for key, error in errors %}
                    <li>{{ attribute }}: {{ error }}</li>
                {% endfor %}
                {% if loop.last %}</ul>{% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}

{% block body %}

<div class="content transition-fade" id="swup">

<!-- Age Gate -->
{% include "_includes/blocks/age-gate-simple" %}
<!-- End Age Gate -->

<!-- Navigation Desktop -->
{% include "merch/_includes/global/navigation" %}
<!-- End Navigation Desktop -->

<!-- Social Links -->
{% include "_includes/blocks/links" %}
<!-- End Social Links -->
      
<main class="align-self-center" id="main" role="main">
{% block main %}{% endblock %}
</main>

</div>

<!-- Footer -->
<footer class="footer">
<!-- Newsletter -->
{% include "_includes/blocks/footer" %}
<!-- End Newsletter -->

<!-- Copyright -->
{% include "_includes/blocks/copyright" %}
<!-- End Copyright -->
</footer>
<!-- End Footer -->

{% endblock %}


</div>

{% include "merch/_includes/global/scripts" %}
</body>
</html>
