{% extends "merch/_layouts/main" %}

{% block main %}

    {% if cart.lineItems|length %}

    {% endif %}

    {% if not cart.lineItems|length %}
    <div class="grid-x grid-padding-x grid-padding-y padding-top-1 padding-horizontal-2">
      <div class="small-12 large-6 cell">
          <h4>You have no items in your cart, add some on the <a href="{{ url('merch/products') }}">products page</a></h4>
      </div>
    </div>
    {% endif %}
 
{% endblock %}
