{% extends "_layouts/site" %}

{% block main %}

<!-- Video Hero -->
<section class="home__hero">
  <div class="grid-y grid-padding-x height-100 align-center">

    <div class="shrink cell white">
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="small-12 medium-7 large-8 cell">
            <h1>Thanks!</h1>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- End Video Hero -->

{% endblock %}