<div class="grid-x align-justify align-middle navigation {% if craft.app.request.absoluteUrl == siteUrl %}navigation--absolute{% endif %} padding-1">

  <div class="small-3 medium-3 cell uppercase">
    <a href="{{ siteUrl }}"><svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></a>
  </div>

  {% if craft.app.request.absoluteUrl == siteUrl %}
  <div class="auto cell show-for-large">
    <ul class="menu align-center text-uppercase">
      <li><a href="#home__drink">Drink</a></li>
      <li><a href="#home__party">Party</a></li>
      <li><a href="#home__the-beer">The Beer</a></li>
      <li><a href="/redirection">Delivery</a></li>
    </ul>
  </div>
  {% endif %}

  <div class="small-3 medium-3 cell text-right">
    <a href="https://www.vice.com"><svg class="icon icon-drinking"><use xlink:href="/assets/icons/symbol-defs.svg#icon-drinking"></use></svg></a>
  </div>

</div>