{% set navigation = {
  "about":    { title: "About" },
  "locations":    { title: "Locations" },
  "events":    { title: "Events" },
  "contact":    { title: "Contact" },
} %}

<div data-sticky-container>
<div data-sticky data-options="marginTop:0;" style="width:100%" class="scrollhide-nav">
<div class="grid-x grid-padding-x grid-padding-y align-justify align-middle navigation">
  <div class="shrink cell uppercase">
    <a href="{{ siteUrl }}">Old Blue Last Beer</a>
  </div>
  
  <div class="shrink cell">
    <ul class="dropdown menu align-middle uppercase" data-dropdown-menu>
      
      <li class="show-for-small-only"><a data-toggle="offCanvasRight"><svg class="icon icon-commerce icon-menu"><use xlink:href="/assets/icons/symbol-defs.svg#icon-menu"></use></svg></a></li>
      
      {% for slug, item in navigation %}
		  <li class="show-for-xlarge"><a href="{{ url(slug) }}" {% if craft.request.lastSegment == slug %}class="active"{% endif %}>{{ item.title }}</a></li>
			{% endfor %}
      
    </ul>
  </div>
</div>
  </div>
</div>