<div data-sticky-container>
  <div data-sticky data-options="marginTop:0;" style="width:100%" class="scrollhide-nav">
    <div class="grid-x align-justify align-middle navigation padding-1">
      <div class="shrink cell uppercase">
        <a href="{{ siteUrl }}"><svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></a>
      </div>
      
      <div class="shrink cell">
        <ul class="menu align-middle">
        
          <li class="show-for-medium"><svg class="icon icon-drinking"><use xlink:href="/assets/icons/symbol-defs.svg#icon-drinking"></use></svg></li>

          <li>
            <button class="hamburger hamburger--slider" data-toggler=".is-active" id="toggle" type="button" data-toggle="overlay-menu toggle">
              <span class="hamburger-box"><span class="hamburger-inner"></span></span>
            </button>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>