{#
<nav data-sticky-container>
  <div data-sticky data-options="marginTop:0;" style="width:100%" class="scrollhide-nav">
#}

<div class="grid-x align-justify align-middle navigation {% if craft.request.getUrl() == siteUrl %}navigation--absolute{% endif %} padding-1">

  <div class="small-3 medium-3 cell uppercase">
    <a href="{{ siteUrl }}"><svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></a>
  </div>

{% if craft.request.getUrl() == siteUrl %}
  <div class="auto cell show-for-large">
    <ul class="menu align-center text-uppercase">
      <li><a href="#home__drink">Drink</a></li>
      <li><a href="#home__get-some">Get Some</a></li>
      <li>
      <li><a href="#home__party">Party</a></li>
{#
      <li><a href="#home__events">Events</a></li>
      <li><a href="#home__photos">Photos</a></li>
#}
      <li><a href="#home__the-beer">The Beer</a></li>
      <li><a data-open="shopModal">Shop</a></li>
      
    </ul>
  </div>
{% endif %}

  <div class="small-3 medium-3 cell text-right">
    <a href="https://www.vice.com"><svg class="icon icon-drinking"><use xlink:href="/assets/icons/symbol-defs.svg#icon-drinking"></use></svg></a>
  </div>

</div>

{#
  </div>
</nav>
#}

<div class="reveal text-center" id="shopModal" data-reveal>
  <h1>Heads Up!</h1>
  <p>You’re being redirected to a website operated by Beer Hawk Limited therefore their <a href="https://www.beerhawk.co.uk/privacy-policy">Privacy Policy</a> applies</p>

  <button class="button" data-close aria-label="Close modal">Nope</button> <a class="button" href="https://shop.oldbluelast.beer">Sure</a>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>