{% set navigation = {
  "photos":    { title: "Photos" },
  "events":    { title: "Events" },
  "find-beer":    { title: "Find Beer" },
  "manchester":    { title: "Manchester" }
} %}

<div class="overlay-menu grid-y align-center inverted" id="overlay-menu" data-toggler=".open">
  <div class="shrink cell">
    <div class="grid-x grid-padding-x align-center">
    	<div class="shrink cell">
        
        <ul class="vertical menu align-center">
          {% for slug, item in navigation %}
      	  <li class="text-uppercase"><a href="{{ url(slug) }}">{{ item.title }}</a></li>
      		{% endfor %}
        </ul>
        
    	</div>
    </div>
  </div>
</div>