{% set navigation = {
  "photos":    { title: "Photos" },
  "find-beer":    { title: "Find Beer" },
  "contact":    { title: "Contact" }
} %}

<div class="overlay-menu grid-y align-center" id="overlay-menu" data-toggler=".open">
  <div class="shrink cell">
    <div class="grid-x grid-padding-x align-center">
    	<div class="shrink cell">
        
          <ul class="vertical menu align-center">
          {% set entries = craft.entries
          .section('events')
          .eventDate('>' ~ now.getTimestamp())
          .order('eventDate asc')
          .all() %}

          {% if entries|length %}
          <li class="text-uppercase"><a href="{{ siteUrl }}events"><h2>Events</h2></a></li>
          {% endif %}

          {% for slug, item in navigation %}
      	  <li class="text-uppercase"><a href="{{ url(slug) }}"><h2>{{ item.title }}</h2></a></li>
      		{% endfor %}
        </ul>
        
    	</div>
    </div>
  </div>
</div>