<div class="grid-x grid-padding-x grid-padding-y  align-justify">
  <div class="small-12 medium-6 cell text-center medium-text-left">
  <a href="https://www.drinkaware.co.uk">
    Please Enjoy Responsibly.
    <svg class="icon icon-drinkaware"><use xlink:href="/assets/icons/symbol-defs.svg#icon-drinkaware"></use></svg>
  </a>
  </div>
  <div class="small-12 medium-6 cell text-center medium-text-right">
    © {{ now|date('Y') }} AB InBev. Terms and Conditions. Privacy Policy
  </div>
</div>