<div class="grid-x grid-padding-x grid-padding-y  align-justify">
  <div class="small-12 medium-6 cell text-left">
    Please Enjoy Responsibly.
    <svg class="icon icon-drinkaware"><use xlink:href="/assets/icons/symbol-defs.svg#icon-drinkaware"></use></svg>
  </div>
  <div class="small-12 medium-6 cell text-right">
    © 2018 AB InBev. Terms and Conditions. Privacy Policy
  </div>
</div>