<div class="grid-x grid-padding-x grid-padding-y padding-top-3 align-justify">
  <div class="small-12 medium-6 cell text-center medium-text-left">
  <a href="https://www.drinkaware.co.uk">
    <small>Please Enjoy Responsibly.</small>
    <svg class="icon icon-drinkaware"><use xlink:href="/assets/icons/symbol-defs.svg#icon-drinkaware"></use></svg>
  </a>
  </div>
  <div class="small-12 medium-6 cell text-center medium-text-right">
    <small>© {{ now|date('Y') }} AB InBev. Terms and Conditions. Privacy Policy</small>
  </div>
</div>