<div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 cell">
    
    <div class="callout large secondary-background">
        
        <div class="grid-container">
          
        <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 cell">
        <h1>Sign up for updates!</h1>
        </div>
        </div>
        
        <div class="grid-x grid-padding-x grid-padding-y align-center">
        <div class="small-12 medium-9 large-6 cell text-center">
          
        <form action="" method="post" class="validate" target="_blank" novalidate="">
          
          <div class="input-group show-for-medium">
            <input class="input-group-field" type="email" value="" name="EMAIL" placeholder="Enter your email">
            <div class="input-group-button">
              <input type="submit" class="button" value="Submit">
            </div>
          </div>
          
          <div class="show-for-small-only">
            <input type="email" value="" name="EMAIL" placeholder="Enter your email">
            <input type="submit" class="button expanded" value="Submit">
          </div>
          
          
        </form>
        
         <small>No spam ever. Unsubscribe with one click any time. Test</small>
        </div>
        </div>
        
        </div>
         
    </div>
    
    </div>
  </div>