<div class="reveal" id="agegate" data-reveal data-close-on-click="false" data-animation-in="fade-in" data-animation-out="fade-out">
<form name='agegate'>
  <div class="grid-container padding-vertical-3">
    <div class="grid-x grid-padding-x">
      <div class="medium-12 cell text-center margin-bottom-2">
      <svg class="icon icon-logo icon-logo-agegate"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg>
      </div>

      <div class="medium-4 cell">
        <label>Day
          <input type='number' name='day' placeholder="DD">
        </label>
      </div>
      <div class="medium-4 cell">
        <label>Month
          <input type='number' name='month' placeholder="MM">
        </label>
      </div>
      <div class="medium-4 cell">
        <label>Year
          <input type='number' name='year' placeholder="YYYY">
        </label>
      </div>
      <div class="medium-12 cell">
      <select name='country'></select>
      </div>
      <div class="medium-12 cell">
      <input type="submit" class="button large expanded text-uppercase" value="Verify your age">
      </div>
      <div class="medium-12 cell text-center">
      <input id="checkbox3" type="checkbox" name='remember' checked><label for="checkbox3">Remember Me</label>
      </div>
    </div>
  </div>
</form>
</div>