<div class="reveal full" id="agegate" data-reveal data-close-on-click="false" data-animation-in="fade-in" data-animation-out="fade-out">

<div class="grid-y grid-padding-x align-center" style="height: 100%">
<div class="shrink cell">

<form name='agegate' data-abide novalidate>
  <div class="grid-container">
    <div class="grid-x align-center">

<div class="medium-12 large-6 cell text-center margin-bottom-2">
  <div class="grid-x grid-padding-x">

      

      <div class="medium-12 cell text-center margin-bottom-2">
      <svg class="icon icon-logo icon-logo-agegate"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg>
      </div>
      
      <div class="medium-12 cell">
        <div data-abide-error class="alert callout" style="display: none;">
        <p><i class="fi-alert"></i> There are some errors in your form.</p>
        </div>
      </div>

      <div class="medium-4 cell">
        <label>
          <input type="text" maxlength="2" name='day' placeholder="DD" required pattern="number">
          <span class="form-error">
            DD
          </span>
        </label>
      </div>
      <div class="medium-4 cell">
        <label>
          <input type="text" maxlength="2" name='month' placeholder="MM" required pattern="number">
          <span class="form-error">
            MM
          </span>
        </label>
      </div>
      <div class="medium-4 cell">
        <label>
          <input type="text" maxlength="4" name='year' placeholder="YYYY" required pattern="number">
          <span class="form-error">
            YYYY
          </span>
        </label>
      </div>
      <div class="medium-12 cell">
      <select name='country'></select>
      </div>
      <div class="medium-12 cell">
      <button type="submit" class="button secondary-button large expanded text-uppercase">I am of legal drinking age<svg class="icon icon-arrow_forward"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_forward"></use></svg></button>
      </div>
      <div class="medium-12 cell text-center">
      <input id="checkbox3" type="checkbox" name='remember' checked><label for="checkbox3">Remember Me</label>
      </div>

      </div>
</div>

    </div>
  </div>
</form>

</div>
</div>

</div>