<div class="reveal full" id="agegatesimple" data-reveal data-close-on-click="false" data-animation-in="fade-in" data-animation-out="fade-out">

    <div class="grid-y grid-padding-x align-center" style="height: 100%">
        <div class="shrink cell">

            <form name='agegatesimple' data-abide novalidate>
                <div class="grid-container">
                    <div class="grid-x align-center">

                        <div class="medium-12 large-6 cell text-center margin-bottom-2">
                            <div class="grid-x grid-padding-x">

                                <div class="medium-12 cell text-center margin-bottom-2">
                                    <svg class="icon icon-logo icon-logo-agegate">
                                        <use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use>
                                    </svg>
                                </div>

                                <div class="medium-12 cell">
                                    <button type="submit" class="button secondary-button large expanded text-uppercase">I am of legal drinking age
                                        <svg class="icon icon-arrow_forward">
                                            <use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_forward"></use>
                                        </svg>
                                    </button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </form>

        </div>
    </div>

</div>