<div class="grid-x show-for-small-only">
  <div class="small-12 text-center">
    <svg class="icon icon-drinking"><use xlink:href="/assets/icons/symbol-defs.svg#icon-drinking"></use></svg>
  </div>
</div>

<div class="grid-x grid-padding-x grid-padding-y padding-top-3 align-justify">

  <div class="small-12 medium-6 cell text-center medium-text-right">
    <ul class="vertical medium-horizontal menu small">
      <li><a href="https://zx-ventures.com" target="_blank">© {{ now|date('Y') }} ZX Ventures Limited</a></li>
      <li><a href="/privacy-policy" target="_blank">Privacy Policy</a></li>
      <li><a href="/cookie-policy" target="_blank">Cookie Policy</a></li>
    </ul>
  </div>

  <div class="small-12 medium-6 cell text-center medium-text-right">
  <a href="https://www.drinkaware.co.uk">
    <small>Please Enjoy Responsibly.</small>
    <svg class="icon icon-drinkaware"><use xlink:href="/assets/icons/symbol-defs.svg#icon-drinkaware"></use></svg>
  </a>
  </div>

</div>