<div class="grid-x grid-padding-x grid-padding-y padding-top-1 padding-horizontal-1">

        <div class="small-12 large-4 cell">
          
          <form action="https://beer.us17.list-manage.com/subscribe/post?u=bce56918d684aa473ba53f1db&amp;id=7cf2d141c1" method="post" class="validate" target="_blank" novalidate="">
            
            <div class="input-group">
              <input class="input-group-field" type="email" value="" name="EMAIL" placeholder="Let's be friends" aria-label="Email">
              
              <div class="input-group-button">
                <button type="submit" class="button postfix" name="subscribe" value="Subscribe" aria-label="Subscribe">
                  <svg class="icon icon-arrow_forward"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_forward"></use></svg>
                </button>
              </div>
            </div>

          <small>By signing up, you agree to our <a href="/privacy-policy" target="_blank">Privacy Policy</a></small>
            
          </form>
          
        </div>
        
        <div class="small-12 large-auto cell text-center show-for-medium">
          <ul class="menu align-right">
            <li><a href="https://www.instagram.com/oldbluelastbeer/"><svg class="icon icon-socials icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
            <li><a href="https://www.facebook.com/oldbluelastbeeruk/"><svg class="icon icon-socials icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
          </ul>
        </div>
        
</div>