<div class="links">
  <div class="grid-x align-center"> 
    <div class="shrink cell show-for-large text-center" style="z-index: 120">
      <ul class="menu align-center text-uppercase">  
          <li><a href="https://www.instagram.com/oldbluelastbeer/" class="social" target="_blank" rel="noopener"><svg class="icon icon-socials icon-socials-rotate icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
          <li><a href="https://www.facebook.com/oldbluelastbeeruk/" class="social" target="_blank" rel="noopener"><svg class="icon icon-socials icon-socials-rotate icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
          
          {% if bodyClass is defined == 'home' %}
          <li class="links-links"><a href="#home__the-beer" class="h5">The Beer</a></li>
          <li class="links-links"><a href="#home__party" class="h5">Party</a></li>
          <li class="links-links"><a href="#home__drink" class="h5">Drink</a></li>
          {% if site.delivery %}
          <li class="links-links"><a href="/redirection" class="h5">Delivery</a></li>
          {% endif %}
          {% endif %}

      </ul>
    </div>
  </div>
</div>