<div class="social-links show-for-large">
  <ul class="menu simple">
    <li><a href="https://www.instagram.com/oldbluelastbeer/" target="_blank">Instagram</a></li>
    <li><a href="https://www.facebook.com/oldbluelastbeeruk/" target="_blank">Facebook</a></li>
  </ul>
</div>