<div class="links social-links-test">
  <div class="grid-x grid-padding-y"> 
    <div class="small-12 cell show-for-large text-center" data-aos="fade-in" data-aos-delay="3000" style="z-index: 120">
      <ul class="menu align-center text-uppercase">  
          <li><a href="https://www.instagram.com/oldbluelastbeer/" class="social"><svg class="icon icon-socials icon-socials-rotate icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
          <li><a href="https://www.facebook.com/oldbluelastbeeruk/" class="social"><svg class="icon icon-socials icon-socials-rotate icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
          
          
          <li><a href="#home__the-beer" class="h5 testing">The Beer</a></li>
          <li><a href="#home__party" class="h5">Party</a></li>
          <li><a href="#home__drink" class="h5">Drink</a></li>
          <li><a href="/redirection" class="h5">Delivery</a></li>

      </ul>
    </div>
  </div>
</div>