{% extends "_layouts/base" %}

{% block body %}

<!-- Age Gate -->
{# {% include "_includes/age-gate/overlay" %} #}
<!-- End Age Gate -->

<!-- Overlay Navigation -->
{% include "_includes/navigation/overlay" %}
<!-- End Overlay Navigation -->

<!-- Navigation Desktop -->
{% include "_includes/navigation/desktop" %}
<!-- End Navigation Desktop -->

<!-- Social Links -->
{% include "_includes/social-links/overlay" %}
<!-- End Social Links -->

      
<main id="main" role="main">
{% block main %}{% endblock %}
</main>

<!-- Footer -->
<footer>
<!-- Newsletter -->
{% include "_includes/footer/footer" %}
<!-- End Newsletter -->

<!-- Copyright -->
{% include "_includes/footer/copyright" %}
<!-- End Copyright -->
</footer>
<!-- End Footer -->

{% endblock %}

{% block foot %}

{% include "_includes/scripts/scripts" %}

{% endblock %}