{% extends "_layouts/base" %}

{% block body %}

<!-- Overlay Navigation -->
{% include "_includes/navigation/overlay" %}
<!-- End Overlay Navigation -->

<!-- Navigation Desktop -->
{% include "_includes/navigation/desktop" %}
<!-- End Navigation Desktop -->

<main id="main" role="main">
{% block main %}{% endblock %}
</main>

<!-- Footer -->
<footer class="inverted">
<!-- Newsletter -->
{% include "_includes/footer/footer" %}
<!-- End Newsletter -->

<!-- Copyright -->
{% include "_includes/footer/copyright" %}
<!-- End Copyright -->
</footer>
<!-- End Footer -->

{% endblock %}

{% block foot %}
{% include "_includes/scripts/scripts" %}

{% endblock %}