{% extends "_layouts/site" %}

{% block main %}

<!-- First Round -->
<section class="home__first-round padding-vertical-3"  id="home__first-round">
  <div class="grid-container padding-vertical-3">
    <div class="grid-x">
      <div class="small-12 medium-10 cell">
      <h1 class="text-uppercase">Thanks</h1>
      {{entry.thanksText}}
      </div>
    </div>
  </div>
</section>
<!-- End First Round -->

{% endblock %}