@font-face {
  font-family: 'GT America Light';
  src: 
  url('../fonts/gt-america-light.woff2') format('woff2'), 
  url('../fonts/gt-america-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT America Medium';
  src: 
  url('../fonts/gt-america-medium.woff2') format('woff2'), 
  url('../fonts/gt-america-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Circular Medium';
  src: 
  url('../fonts/circular-std-medium.woff2') format('woff2'), 
  url('../fonts/circular-std-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Book';
  src: 
  url('../fonts/circular-std-book.woff2') format('woff2'), 
  url('../fonts/circular-std-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}