@font-face {
  font-family: 'Helvetica Neue Bold';
  src: 
  url('../fonts/helvetica-neue-bold.woff2') format('woff2'), 
  url('../fonts/helvetica-neue-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Black';
  src: 
  url('../fonts/helvetica-neue-black.woff2') format('woff2'), 
  url('../fonts/helvetica-neue-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gallery';
  src: 
  url('../fonts/gallery.woff2') format('woff2'), 
  url('../fonts/gallery.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}