.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: text-bottom;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-logo {
  width: 2.181640625em;
  font-size: 3rem;
  @include breakpoint(small only) {
  font-size: 2.5rem;
  }
}

.icon-logo-agegate {
  font-size: 5rem;
}

.icon-socials {
  font-size: 1.5rem;
}

.icon-drinkaware {
  width: 15.5458984375em;
  font-size: 0.75rem;
  vertical-align: baseline;
}

.icon-menu {
  font-size: 3rem;
}

.icon-beer {
  width: 7.314453125em;
  font-size: 1.5rem;
}

.icon-arrow_forward {
  font-size: 125%;
  margin-left: 0.25em;
}

.icon-drinking {
  width: 8.41015625em;
  font-size: 1.25rem;
  @include breakpoint(small only) {
  font-size: 1rem;
  }
}

footer .icon-drinking {
  font-size: 1.75rem;
}