// Table of Contents:
//
// 1. Mixins
// 2. Global
// 3. Typography
// 4. Age Gate
// 5. Navigation
// 6. Excerpt
// 7. Featured
// 8. Home
// 9. Map

// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
 .content {
    transition: $primary-transition;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}

// 2. Global
// ---------

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  cursor: default;
  font-kerning: normal;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

input::-webkit-input-placeholder {
  transform:translate3d(0,2px,0)
}

input::-webkit-input-submit {
 transform:translate3d(0,2px,0)
}

small {
  line-height: 1.4;
}

svg {
  max-width: 100%;
}

::selection {
  background: $primary-color;
  color: $secondary-color;
}

:focus {
  outline: 0;
}

select {
  -webkit-appearance:none;
}

p a {
  border-bottom: 1px $white solid;
  &:hover {
    border-bottom: 1px transparent solid;
  }
}

.inverted {
  background-color: $white;
  color: $primary-color;
//   @include links ($primary-color, $primary-color) 
}

.social-links {
  z-index: 10;
	position: fixed;
	right: -3rem;
	top: 50%;
	transform:rotate(90deg);
}

// 3. Typography
// -------------

strong, b {
  font-weight: normal;
  font-family: $secondary-font-family;
}

.primary-font {
  font-family: $primary-font-family;
}

.secondary-font {
  font-family: $secondary-font-family;
}

.secondary-font {
  h1, h2, h3, h4, h5 {
  font-family: $secondary-font-family;
  }
}

.underline {
  padding-bottom: -0.5rem;
  border-bottom: 2px $white solid;
  &:hover {
    border-bottom: 2px transparent solid;
  }
}

.inverted .underline {
  border-bottom: 2px $primary-color solid;
  &:hover {
    border-bottom: 2px transparent solid;
  }
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

.primary-color {
 color: $primary-color;
}
// 4. Age Gate
// -----------

.age-gate {
  z-index: 12;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
  visibility: visible;
  background-color: $primary-color;
  form { 
    display: none; 
  }
}

.is-invalid-input:not(:focus) {
  border-color: $white;
  background-color: transparent;
}

// 5. Navigation
// -------------

.home .navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 210;
  background-color: transparent;
}

// 8. Home
// -------

.home__hero {
min-height: 100vh;
padding-top: 5rem;
padding-bottom: 5rem;
position: relative;

/*
  overflow: hidden;
  position: relative;
  @include breakpoint(small) {
  min-height: 100vh;
  }
  @include breakpoint(medium) {
  min-height: 100vh;
  }
*/
}

.home__party-video {
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.home__campaign {
  height: 50vh;
  background-size: cover; 
  background-position: 50%;
}

@keyframes scrolling-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}


.home__upcoming-events__list li {

  .underline {
    border-bottom: 2px $white solid;
  }
  
  &:hover {
    background-color: white;
    .underline {
    border-bottom: 2px $primary-color solid;
      }
  }
    
  a {
    color: $white;
    &:hover {
      color: $primary-color;   
    }
  }
}


// 9. Map
// ------

.locations__map {
  @include breakpoint(small) {
  height: 70vh;
  }
  @include breakpoint(medium) { 
  height: 50vh;
  }
}

.locations__map__infobox {
  font-family: $primary-font-family;
}

// 6. Images
// ---------

.image--portrait {
  @include breakpoint(small) {
  @include aspect-ratio (7, 5);
  }
  @include breakpoint(medium) {
  @include aspect-ratio (5, 7);
  }
  background-size: cover; 
  background-position: 50%;
}

.image--square {
  @include breakpoint(small) {
  @include aspect-ratio (1, 1);
  }
  @include breakpoint(medium) {
  @include aspect-ratio (1, 1);
  }
  background-size: cover; 
  background-position: 50%;
}

.image--default {
  @include aspect-ratio (7, 5);
  background-size: cover; 
  background-position: 50%;
}

.image--panorama {
  @include breakpoint(small) {
  @include aspect-ratio (7, 5);
  }
  @include breakpoint(medium) {
  @include aspect-ratio (16, 9);
  }
  background-size: cover; 
  background-position: 50%;
}

.image--campaign {
  height: 80vh;
  background-size: cover; 
  @include breakpoint(small) {
  background-position: 50% 50%;
  }
  @include breakpoint(medium) {
  background-position: 50% 50%;
  }
}

.image--hero {
  height: 100%;
  background-size: cover; 
  @include breakpoint(small) {
  background-position: 50% 50%;
  }
  @include breakpoint(medium) {
  background-position: 50% 50%;
  }
}

.video {
    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
    position: absolute;
    left: 50%; /* % of surrounding element */
    top: 50%;
    transform: translate(-50%, -50%); /* % of current element */
    z-index: -1;
}

html {
  scroll-behavior: smooth;
}

input#honeypot { 
  display: none; 
}


.small li {
font-size: $small-font-size;
}

/*
#optanon *, #optanon *:before, #optanon *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#optanon, #optanon *, #optanon div, #optanon span, #optanon ul, #optanon li, #optanon a, #optanon p, .optanon-alert-box-wrapper * {
    font-family: Arial, sans-serif;
    background: none;
    border: none;
    bottom: auto;
}

.optanon-alert-box-wrapper .optanon-button-more .optanon-alert-box-button-middle button {
border-bottom: 1px solid $white;
padding-bottom: 1px;
color: $white !important;
cursor: pointer;
}

.optanon-alert-box-wrapper .optanon-button-more .optanon-alert-box-button-middle button:before {
content: '';
display: none;
}

.optanon-alert-box-wrapper .optanon-button-more .optanon-alert-box-button-middle button {
border-bottom: 1px solid #ccc;
padding-bottom: 1px;
color: #000 !important;
cursor: pointer;
}
*/


.home__hero__text {
/*
padding-top: 5rem;
padding-bottom: 5rem;
*/
/*
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
padding: 3rem;
*/
}

.home__hero__image {
height: 100%;
width: 100%;
position: absolute;
z-index: -1;
}

.global__photos {
  cursor: pointer;
 .content:hover {
  background-color: rgba($primary-color, 0.95);
 }
}



.links {
  width: 100vh;
  left: calc(100% - 7rem);
  position: fixed;
  top: 50%;
  transform: rotate(-90deg) translate(-50%, 0%);
  transform-origin: left top;
  z-index: 200;
  color: white;
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,.3) );
}


.icon-socials-rotate {
-webkit-transform: rotate(90deg);
transform: rotate(90deg);
}

.social {
padding: 0.4rem 1rem !important
}

.marker {
  background-image: url('/assets/icons/can.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  cursor: pointer;
  &:hover {
    color: $black;   
  }
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-map {
  font-family: $primary-font-family;
}

/*
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
*/

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  text-align: center;
  padding: 1rem !important; 
  width: 180px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.geocoder {
z-index:1;
width:50%;
left:50%;
top:20px;
}

.button {
vertical-align: bottom;
}

.primary-button {
  @include button-style($primary-color, $white, $white);
  padding: 0.85em 1em;
  &:hover {
    color: $primary-color;   
  }
}

.secondary-button {
  @include button-style($white, $primary-color, $primary-color);
  padding: 0.85em 1em;
  &:hover {
    color: $white;   
  }
}