//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Typography
//   4. Navigation
//   5. Index
//   6. Category / Class
//   7. Article
//   8. Footer


// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

// 2. Global
// ---------

body {
  cursor: default;
  font-kerning: normal;
}

svg {
  max-width: 100%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

::selection {
  background: $primary-color;
  color: $secondary-color;
}

:focus {
  outline: 0;
}

select {
  -webkit-appearance:none;
}

p a {
  padding-bottom: 0.25rem;
  border-bottom: 2px $medium-gray solid;
  &:hover {
    border-bottom: 2px transparent solid;
  }
}

.inverted {
  background-color: $white;
  color: $primary-color;
  @include links ($primary-color, $black) 
}

.grid-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

  

// 3. Typography
// -------------

.underline {
  padding-bottom: 0.25rem;
  border-bottom: 2px $white solid;
  &:hover {
    border-bottom: 2px transparent solid;
  }
}

.inverted .underline {
  border-bottom: 2px $primary-color solid;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

// 4. Navigation
// -------------

.off-canvas {
  padding: $global-padding;
  font-size: 1.75rem;
  font-family: $secondary-font-family;
}

// 5. Index
// -------------

// 5. Footer
// -------------




// 5. Page
// -------------

  
input#search-box.search {
    background-color: #fff;
  }


.sticky {
    z-index: 10;
}

$scrollhide-nav-transition-speed: 1s;

.scrollhide-nav {
  transition: transform $scrollhide-nav-transition-speed cubic-bezier(0.86, 0, 0.07, 1);

  &.hidden {
    transform: translateY(-100%);
  }
}



.locations__map {
  @include breakpoint(small) {
  height: 70vh;
  }
  @include breakpoint(medium) { 
  height: 50vh;
  }
}



// X. Navigation
// -------------

.navigation {
  z-index: 3;
}

.navigation__inner {
  z-index: 3;
}

.overlay-menu {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
  visibility: hidden;
  background-color: $primary-color;

  &.open {
    visibility: visible;
  }
    
  .menu .active>a {
    color: $black;
  }
  
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: $white;
  } 
}


// 4. Excerpt
// ----------

.excerpt__title {
  position:absolute;
  width: 100%;
  height: 100%;
  margin: 0rem;
  color: $white;
  opacity: 0;
  z-index: 1;
}

.excerpt {
  background-color: $primary-color;
  position:relative;
    &:hover .excerpt__image img {
    filter: grayscale(1) contrast(1.75);
    opacity: 0.1;
    }
    &:hover .excerpt__title {
    opacity: 1;
    } 
}

h1 {
  margin-bottom: 0;
  line-height: 1.1;
}

.hero__text {
  opacity: 0;
}

/*
.home__hero {
  background-position: 0 0;
  background-image: url("/images/global/can.png");
  background-repeat: repeat-x;
  animation: animate 15s linear infinite;
  height: 50vh;
  background-size: contain;
}

@keyframes animate
{
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
*/

/*
.home__hero {
  height: 100vh;
  background-position: 0 100;
  background-image: url("/assets/images/can-new.png");
  background-repeat: repeat-x;
  animation: animate 15s linear infinite;
  background-size: 15%;
  margin-bottom: -5rem;
  position: relative;
  z-index: 5;
}
*/

.home__hero__cans {
  background-position: 0 0;
  background-image: url("/assets/images/can-new.png");
  background-repeat: spaced;
//   animation: animate 10s linear infinite;
  height: 50vh;
  background-size: contain;
  margin-bottom: -8rem;
  position: relative;
}

@keyframes animate
{
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.home__recent-events {
  padding-top: 10rem;
}

.home__upcoming-events__list li {
  background-color: $primary-color;
  .underline {
  padding-bottom: 0.25rem;
  border-bottom: 2px $white solid;
  }
    &:hover {
      background-color: white;
      .underline {
      border-bottom: 2px $primary-color solid;
      }
      }
    
  a {
    color: $white;
    &:hover {
      color: $primary-color;   
    }
  }
}


.hamburger .line{
  width: 50px;
  height: 5px;
  background-color: $white;
  display: block;
  margin: 8px auto;
  transition: all 0.1s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

#hamburger-2.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger-2.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px);
  -ms-transform: translateY(-13px);
  -o-transform: translateY(-13px);
  transform: translateY(-13px);
}


.map__infobox {
  font-family: $primary-font-family;
}

.featured__title {
  position:absolute;
  width: 100%;
  height: 100%;
  color: $white;
  z-index: 1;
}

.featured {
  background-color: $primary-color;
  position:relative;
    &:hover .featured__image img {
    filter: grayscale(1) contrast(1.75);
    opacity: 0.1;
    }
}


.age-gate {
  z-index: 12;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
  visibility: visible;
  background-color: $primary-color;
  form { display: none; }
}

.is-invalid-input:not(:focus) {
    border-color: $white;
    background-color: transparent;
}