// Table of Contents:
//
// 1. Mixins
// 2. Global
// 3. Typography
// 4. Age Gate
// 5. Navigation
// 6. Excerpt
// 7. Featured
// 8. Home
// 9. Map

// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

// 2. Global
// ---------

body {
  cursor: default;
  font-kerning: normal;
}

svg {
  max-width: 100%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

::selection {
  background: $primary-color;
  color: $secondary-color;
}

:focus {
  outline: 0;
}

select {
  -webkit-appearance:none;
}

p a {
  padding-bottom: 0.25rem;
  border-bottom: 2px $medium-gray solid;
  &:hover {
    border-bottom: 2px transparent solid;
  }
}

.inverted {
  background-color: $white;
  color: $primary-color;
  @include links ($primary-color, $primary-color) 
}

.grid-container {
  padding-left: 2rem;
  padding-right: 2rem;
  @include breakpoint(large) {
  padding-left: 4rem;
  padding-right: 4rem;
  }
}

.social-links {
  z-index: 10;
	position: fixed;
	right: -1rem;
	top: 50%;
	transform:rotate(90deg);
}

// 3. Typography
// -------------

.underline {
  padding-bottom: -0.5rem;
  border-bottom: 2px $white solid;
  &:hover {
    border-bottom: 2px transparent solid;
  }
}

.inverted .underline {
  border-bottom: 2px $primary-color solid;
  &:hover {
    border-bottom: 2px transparent solid;
  }
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

h1 {
  font-family: $secondary-font-family;
  margin-bottom: 0;
  line-height: 1.1;
  padding-left: 0.1rem;
}

// 4. Age Gate
// -----------

.age-gate {
  z-index: 12;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
  visibility: visible;
  background-color: $primary-color;
  form { 
    display: none; 
  }
}

.is-invalid-input:not(:focus) {
  border-color: $white;
  background-color: transparent;
}

// 5. Navigation
// -------------

.sticky {
  z-index: 10;
  background-color: $primary-color;
}

.scrollhide-nav {
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
  &.hidden {
    transform: translateY(-100%);
  }
}

.overlay-menu {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
  visibility: hidden;
  background-color: $primary-color;
  
  &.open {
    visibility: visible;
  }
}

// 6. Excerpt
// ----------

.excerpt__title {
  position:absolute;
  width: 100%;
  height: 100%;
  margin: 0rem;
  color: $white;
  opacity: 0;
  z-index: 1;
}

.excerpt {
  background-color: $primary-color;
  position:relative;
  &:hover .excerpt__image img {
  filter: grayscale(1) contrast(1.75);
  opacity: 0.1;
  }
  &:hover .excerpt__title {
  opacity: 1;
  } 
}

// 7. Featured
// -----------

.featured h2, .featured h5 {
  font-family: $body-font-family;
}

.featured__title {
  position:absolute;
  width: 100%;
  height: 100%;
  color: $white;
  z-index: 1;
  padding: 3rem;
  @include breakpoint(small) { 
  padding: 1.5rem;
  }
  @include breakpoint(large) { 
  padding: 4rem;
  }
}

.featured__image img {
  filter: grayscale(1) contrast(1.75);
  opacity: 0.1;
}

.featured {
  background-color: $primary-color;
  position:relative;
  &:hover .featured__image img {
  filter: grayscale(0) contrast(1);
  opacity: 1;
  }
}

// 8. Home
// -------

.hero__text {
  opacity: 0;
}

.home__hero__cans {
  background-position: 0 0;
  background-image: url("/assets/images/can-new.png");
  background-repeat: repeat-x;
  transform: translateX(0);
  position: absolute;
  top: 0px;
  left: 0px;
  background-repeat: spaced;
  animation: scrolling-animation 5s linear infinite;
  @include breakpoint(small) { 
  height: 50vw;
  }
  @include breakpoint(medium) { 
  height: 30vw;
  }
  @include breakpoint(large) { 
  height: 40vw;
  }
  @include breakpoint(xxlarge) { 
  height: 30vw;
  }
  background-size: contain;
  margin-bottom: -8rem;
  position: relative;
}

@keyframes scrolling-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}


.sliding-background {
	background-image: url("/assets/images/can-new-rev.png");
  background-repeat:repeat-x;
  height: 500px;
  width: 5076px;
  transform: translateX(0);
  position: absolute;
  top: 0px;
  left: 0px;
}

.sliding-background-left {
  animation: slide-left 20s linear infinite;
}

@keyframes slide-left {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-1692px); /* The image width */
  }
}



.home__upcoming-events__list li {

  .underline {
    border-bottom: 2px $white solid;
  }
  
  &:hover {
    background-color: white;
    .underline {
    border-bottom: 2px $primary-color solid;
      }
  }
    
  a {
    color: $white;
    &:hover {
      color: $primary-color;   
    }
  }
}

.home__recent-events {
  padding-top: 12rem;
}

// 9. Map
// ------

.locations__map {
  @include breakpoint(small) {
  height: 70vh;
  }
  @include breakpoint(medium) { 
  height: 50vh;
  }
}

.locations__map__infobox {
  font-family: $primary-font-family;
}


// 10. Canchester
// ------

.canchester__hero__text {
  @include breakpoint(small) { 
  padding: 2rem 1rem;
  }
  @include breakpoint(large) { 
  padding: 5rem 3rem;
  }
}
