{% extends "_layouts/site" %}

{% block main %}

<div class="grid-container">

  <div class="grid-x grid-padding-y padding-top-2">
    <div class="small-12 cell">
      <h1>Contact Us</h1>
      Want to talk beer? Great. Us too. There are a few different ways to get in touch with us, depending on what it is you want to know. Have a look at the addresses below to make sure your enquiry ends up in the right inbox.
    </div>
  </div>
  
  <div class="grid-x grid-padding-y">
    <div class="small-12 cell">
      <h3>Call Us For a Chat</h3>
      OFFICE: 020 7485 1671
    </div>
  </div>
  
  <div class="grid-x grid-padding-y">
    <div class="small-12 cell">
      <h3>Call Us For a Chat</h3>
      OFFICE: 020 7485 1671
    </div>
  </div>
  
</div>




{% endblock %}


