{% extends "_layouts/site" %}

{% block main %}

<!-- Contact Header -->
<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="small-12 medium-8 cell">
		{{ entry.pageCopy }}
  </div>
</div>
<!-- End Contact Header -->

{% endblock %}