<div class="grid-x align-justify align-middle navigation navigation--absolute padding-2">

  <div class="shrink medium-3 cell">
    <a href="{{ siteUrl }}" aria-label="Old Blue Last Beer"><svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></a>
  </div>

  <div class="shrink medium-3 cell text-right">
    <a href="https://www.vice.com" aria-label="Drinking by VICE" target="_blank" rel="noopener"><svg class="icon icon-drinking"><use xlink:href="/assets/icons/symbol-defs.svg#icon-drinking"></use></svg></a>
  </div>

</div>
