<div class="grid-x align-justify align-middle navigation navigation--absolute padding-2">

  <div class="small-3 medium-3 cell uppercase">
    <a href="{{ siteUrl }}"><svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></a>
  </div>

  <div class="small-3 medium-3 cell text-right">
    <a href="https://www.vice.com"><svg class="icon icon-drinking"><use xlink:href="/assets/icons/symbol-defs.svg#icon-drinking"></use></svg></a>
  </div>

</div>
