{% extends "_layouts/site" %}

{% block main %}

<!-- Video Hero -->
<section class="home__hero">
  <div class="grid-y grid-padding-x height-100 align-center">
    <div class="shrink cell white">

      <div class="grid-container">
        <div class="grid-x align-left">
          <div class="small-12 medium-6 cell">
            <h6 class="sans-regular white padding-2">{{entry.heroText}}</h6>


          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- End Video Hero -->

<!-- The Beer -->
<section class="home__the-beer padding-vertical-3" id="home__the-beer">
  <div class="grid-container">
    <div class="grid-x">
      <div class="small-12 medium-10 cell">
      <h1 class="text-uppercase">The Beer</h1>
      {{entry.theBeerText}}
      </div>
    </div>
  </div>
</section>
<!-- End Party -->

<!-- Contact Form -->
<section class="home__the-beer padding-vertical-3" id="home__the-beer">
  <div class="grid-container">
    <div class="grid-x">
      <div class="small-12 medium-12 cell">
      <h1 class="text-uppercase">Contact</h1>
      {% include "_includes/contact/form" %}
      </div>
    </div>
  </div>
</section>
<!-- End Contact Form  -->

{% endblock %}